.App {
  text-align: center;
  font-family: 'sofiapro-light';
}

.about {
    text-align: center;
}

.contact-form {
    text-align: center;
}

.search {
    margin: 15px;
}

.scope {
    text-align: center;
}

.navbar {
    text-align: center;
    margin-top: 10px;
}

.navbar-link {
    padding-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}
